# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env*.erb

# Ignore editor config.
/.idea
/.vscode
/.zed

# Ignore all log files and temp files.
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Ignore all cache files.
/Gemfile.lock
**/*.gemfile.lock

# Ignore rspec status files.
.rspec_status
